.layout-footer{
  background: linear-gradient(0deg, rgba(44, 62, 80, 1) 100% , rgba(44, 62, 80, .5) 50%, rgba(44, 62, 80, 0) 0%);
  left:0;
  right:0;
  bottom:0;
  height:30px;
  margin:0;
  transition:all .5s;
  overflow: hidden;
  z-index: 800;
}

.footer-disclaimer{
  font-size:92%;
  display:block;
  color:#fff;
  line-height:3;
  text-align:center;
  margin-top: -5px;
}
@media (max-width:700px){
  .footer-disclaimer{
      font-size:65%
  }
}