<mat-card class="card col-lg-4 col-md-6 col-sm-12">
  <mat-card-header class="card-header">
    <mat-card-title >{{card.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="card.pic" class="card-image" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="card-text">
      {{card.description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="card-footer">
    <div class="row">
      <div class="col-6 text-center">
        <button type="button" (click)="onLike(card)" [className]="checkLikes(card)">
          <i class="far fa-thumbs-up"></i>
          LIKE {{card.likes}}
        </button>
      </div>
      <div class="col-6 text-center">
        <a href="http://www.linkedin.com/in/francisco-josé-carneiro-da-silva" target="_blanck">
          <button type="button" class="btn btn-outline-success default-color">
            <i class="fas fa-share-square"></i>
            SHARE
          </button>
        </a>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
